html, body {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "proxima";
    user-select: none;
}

::selection {
    color:white;
    background: var(--a-accent);
}


@font-face {
    font-family: 'proxima';
    src: url('../Proxima\ Nova\ Font.otf');
}

:root {
    --a-background: #151515;
    --b-background: #0A0A0A;
    --c-background: #1F1F1F;
    --a-accent: #1FA6FA;
    --b-accent: rgb(200,20,20);
    --a-select: #484D6D;
}

.smooth-shadow {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  }

#program-wrapper {
    height: 100%;
    width: 100%;
    background: var(--a-background);
    border-radius: 0.5rem;
    overflow: hidden;
}

#program-wrapper > .title-bar {
    height: 1.5rem;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto calc(2 * 2rem);
    grid-template-rows: 1.5rem;
    padding: 0 1rem 0 0;
}

#program-wrapper > .title-bar > .drag-area {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
}


#program-wrapper > .title-bar > .buttons {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
    grid-template-rows: 100%;
}

#program-wrapper > .title-bar > .buttons button {
    border: transparent;
    background: transparent;
    outline: none;
    border-radius: 1rem;
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    display: inline-block;
    color: white;
    line-height: 1rem;
    transition: all 100ms ease-in-out;
}

#program-wrapper > .title-bar > .buttons button:hover {
    background: var(--a-accent);
}

#program-wrapper > .title-bar > .buttons button.close:hover {
    background: var(--b-accent)
}


/*Define the main wrapper*/

.explorer-wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100%; 
    height: calc(100% - 1.5rem);/*Remove the title bar height*/
    width: 100%;
    background: var(--a-background);
}

.explorer-wrapper > .side-bar.frontpage {
    height: 100%;
    width: 100%;
    background: var(--a-background);
    display: grid;
    grid-template-rows: auto 2.5rem 1.2rem; /*The last is to add gap at bottom of sidebar*/
    row-gap: 0.2rem;
    grid-template-columns: 100%;
    overflow-y: auto;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper, .add-files-button-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    grid-row: 2;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper {
    height: 100%;
    width: 100%;
    grid-row: 1;
    position: relative;
}   


.explorer-wrapper > .side-bar.frontpage > .settings-buttons-wrapper {
    grid-row: 3;
    width: fit-content;
    height: 100%;
    padding: 0 1rem 0.2rem 1rem;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    margin: auto;
}

.explorer-wrapper > .side-bar.frontpage > .settings-buttons-wrapper > div{
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    display: inline-block;
}

.explorer-wrapper > .side-bar.frontpage > .settings-buttons-wrapper > div:hover{
    opacity: 1;
}  

.explorer-wrapper > .side-bar.frontpage > .settings-buttons-wrapper > div svg {
    height: 100%;
    color: #ffffff;
}   



.explorer-wrapper > .side-bar.frontpage > .settings-buttons-wrapper::before {
/*     position: absolute;
    height: 1px;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    content: ".";
    color: transparent;
    background-color: white;
    opacity: 0.2; */
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper .sidebar-notification {
    height: fit-content;
    width: 80%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.25rem;
    font-weight: lighter;
    background: var(--c-background);
    color: white;
    padding: 0.4rem 0.5rem;
    text-align: center;
    animation: slide-in-notification 200ms ease-in-out both;
}

@keyframes slide-in-notification {
    0%{transform:translate(-50%,50%); opacity: 0;}
    100%{transform:translate(-50%,0); opacity: 0.7;}
}

@keyframes slide-out-notification {
    0%{transform:translate(-50%,0); opacity: 0.7;}
    100%{transform:translate(-50%,50%); opacity: 0;}
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper .sidebar-notification span {
    text-align: center;
}   


.explorer-wrapper > .side-bar.frontpage > .add-files-button-wrapper button {
    height: 80%;
    width: 80%;
    border-radius: 3rem;
    background: var(--a-accent);
    text-transform: capitalize;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    font-family: "proxima";
    font-size: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    outline: none;
}

.explorer-wrapper > .side-bar.frontpage > .add-files-button-wrapper button:hover {
    transform: translate(-50%, calc(-50% - 0.2rem));
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector {
    height: fit-content;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background: transparent;
}   

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .title {
    color:var(--a-background);
    background: white;
    padding: 0.2rem 0.5rem;
    margin: 0 auto 0.5rem auto;
    width: fit-content;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .title {
    color: white;
    border-radius: 1rem;
    padding: 0.1rem 0.3rem;
    width: fit-content;
    text-align: left;
    display: block;
    margin-top: 1rem;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview{
    height: 3.5rem;
    width: 100%;
    margin-top: 0.2rem;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview form{
    height: fit-content;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview input {
    display: none;
}   

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview label {
    height: fit-content;
    width: calc(100% / 3 - 5px);
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview label:hover svg {
    transform: translate(0,-0.1rem);
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview svg {
    color: #ffffff;
    height: 2rem;
    transition: all 150ms ease-in-out;
}

body:not(.small) .explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview label span {
    display: block;
    width: fit-content;
    color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    transition: all 150ms ease-in-out;
    position: absolute;
    padding: 0.1rem 0.2rem;
}



body:not(.small) .explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview input:checked + label span {
    background: white;
    color:var(--a-background);
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    opacity: 1;
}

body.small .explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview input:checked + label svg {
    color: var(--a-background);
    z-index: 2;
    position: relative;
}

body.small .explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview label span {
    display: block;
    width: fit-content;
    color: transparent;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    transition: all 150ms ease-in-out;
    position: absolute;
    height: 100%;
    width: 0;
    border-radius: 2rem;
    top: 0;
    color: transparent;
}

body.small .explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options .preview input:checked + label span {
    background: white;
    color: transparent;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 2rem;
    z-index: 1;
    width: 100%;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution {
    width: 100%;
    height:fit-content;
    margin-top: 0.2rem;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution form {
    height: fit-content;
    padding-left: 0.3rem;
    text-align: center;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution form.open {
    height: auto;
}   

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution input[type=checkbox]{
    display: none;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution label {
    color: white;
    opacity: 0.5;
    transition: all 150ms ease-in-out;
    height: 1.2rem;
    line-height: 1.2rem;   
    display: inline-block;
    box-sizing: border-box;
    padding: 0.05rem 0.3rem;
    cursor: pointer;
    margin-bottom: 0.1rem;
}   

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .resolution input[type=checkbox]:checked + label{
    background-color: white;
    border-radius: 1rem;
    color: var(--a-background);
    opacity: 1;
    
}



.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags {
    padding: 0.5rem;
    box-sizing: border-box;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > div {
    color: white;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .current-tags {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    transition: all 200ms ease-in-out;
    text-align: center;
    animation: fade-in 200ms ease-in-out;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .current-tags:empty {
    display: none;
    margin-bottom: 0;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .current-tags > .tag {
    background: white;
    color:var(--a-background);
    border-radius: 1.5rem;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

@keyframes fade-in-current-tags {
    0%{height: 0; opacity: 0;}
    100%{height: 2rem; opacity: 1;}
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags {
    height: fit-content;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.2rem 0.2rem;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > button.create-tag {
    background: white;
    color:var(--a-background);
    border-radius: 1rem;
    width: fit-content;
    border: none;
    outline: none;
    height: 1.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    margin-top: 0.5rem;
    float: left;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > button.create-tag:hover {
    transform: translate(0,-0.1rem);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
        0 2px 2px rgba(0,0,0,0.12), 
        0 4px 4px rgba(0,0,0,0.12), 
        0 8px 8px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.12);
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > input.tag-name-input {
    background: transparent;
    outline: none;
    border: solid;
    border-color: white;
    border-width: 0 0 2px 0;
    color: white;
    width: 5rem;
    float: left;
    animation: fade-in 150ms ease-in-out;
    font-family: "proxima";
    font-size: 1.2rem;
    margin-top: 0.5rem;
}



.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > .tags {
    height: fit-content;
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
    height: fit-content;
    overflow-x: hidden;
    box-sizing: border-box;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > .tags > .tag {
    height: 1.4rem;
    width: fit-content;
    max-width: 10rem;
    border-radius: 2rem;
    color:white;
    padding: 0.1rem 0.5rem 0.1rem 0.2rem;
    line-height: 1.6rem;
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    vertical-align: top;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > .tags > .tag:hover {
    background: rgba(255,255,255,0.2);
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > .tags > .tag > span {
    height: 100%;
    line-height: 1.4rem;
    margin-left: 0.2rem;
}


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > .tags > .tag > svg {
    vertical-align: top;
    height: 1.4rem;
    color:white;
}







.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > button.create-tag span {
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
}   


.explorer-wrapper > .side-bar.frontpage > .options-wrapper > .options-selector > .options > .tags > .created-tags > button.create-tag svg {
    height: 1.5rem;
    color:var(--a-background);
}










.explorer-wrapper > .browser.frontpage {
    height: 100%;
    width: 100%;
    background: var(--c-background);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem 0 0 0;
    position: relative;
}

.explorer-wrapper > .browser.frontpage .browser-notification {
    height: fit-content;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    background: var(--a-background);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.explorer-wrapper > .browser.frontpage .browser-notification span {
    display: inline-block;
}

.explorer-wrapper > .browser.frontpage .browser-notification .close {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translate(0,-50%);
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.explorer-wrapper > .browser.frontpage .browser-notification .button-wrapper {
    display: inline-block;
    margin-left: 1rem;
}

.explorer-wrapper > .browser.frontpage .browser-notification .banner-action-button {
    background: var(--a-accent);
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: "proxima";
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    transition: all 150ms ease-in-out;
}

.explorer-wrapper > .browser.frontpage .browser-notification .banner-action-button:hover {
    transform: translate(0,-0.1rem);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}


.explorer-wrapper > .browser.frontpage .browser-notification ver {
    background:var(--c-background);
    padding: 0.2rem 0.3rem;
    border-radius: 0.25rem;
    font-family: Consolas;
    letter-spacing: -0.1em;
}


.explorer-wrapper > .browser.frontpage .browser-notification .close svg {
    color: white;
    height: 100%;
    margin: auto;
}


.explorer-wrapper > .browser.frontpage .browser-information {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    animation: fade-in 200ms ease-in-out;
}



.explorer-wrapper > .browser.frontpage > .fp-title {
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0;
    font-weight: lighter;
}

.explorer-wrapper > .browser.frontpage > #top-tools {
    height: 1.5rem;
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
}   

.explorer-wrapper > .browser.frontpage > #top-tools > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.select input#enable-select{
    display: none;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.select label {
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.select label:hover {
    background: rgba(255,255,255,0.05);
}


.explorer-wrapper > .browser.frontpage > #top-tools div.select input#enable-select:checked + label {
    background: white;
    color:var(--c-background);
    font-weight: bold;
    border-radius: 1rem;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.search {
    width: fit-content;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    height: 1.5rem;
    transition: background 150ms ease-in-out;
    padding: 0.1rem;
    white-space: nowrap;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.search:hover {
    background: var(--a-background);
}   


.explorer-wrapper > .browser.frontpage > #top-tools div.search label svg {
    height: 100%;
    display: inline-block;
    color: white;
    transform: scale(0.7);
}   

.explorer-wrapper > .browser.frontpage > #top-tools div.search label {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    cursor: pointer;
}

.explorer-wrapper > .browser.frontpage > #top-tools div.search div.search-bar-wrapper {
    white-space: nowrap;
    display: inline-block;
    height: 100%;
    width: fit-content;
    display: inline-flex;
    align-items: center;
}       

.explorer-wrapper > .browser.frontpage > #top-tools div.search div.search-bar-wrapper span.tag {
    background: white;
    border-radius: 0.25rem;
    color:var(--c-background);
    text-transform: uppercase;
    display: inline-block;
    margin-right: 0.2rem;
    padding: 0.1rem 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    
}

.explorer-wrapper > .browser.frontpage > #top-tools div.search div.search-bar-wrapper span.tag:hover {
    opacity: 0.5;
}   




.explorer-wrapper > .browser.frontpage > #top-tools div.search input {
    background: transparent;
    height: 100%;
    transform: translate(0,-0.05rem);
    width: fit-content;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-family: "proxima";
    vertical-align: top;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side {
    float: right;
    height: 100%;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side .divider {
    height: 1.5rem;
    width: 0.5px;
    padding: 0;
    color: white;
    display: inline-block;
    margin: 0 0.5rem;
    background: white;
    vertical-align:sub;
    opacity: 0.5;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div:not(.divider) {
    display: inline-block;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div {
    padding: 0.1rem;

}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div input {
    display: none;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div label {
    color: white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    border-radius: 1rem;
    display: inline-block;
    height: 1.5rem;
    padding: 0.2rem;
    box-sizing: border-box;
    line-height: 1.2rem;
    text-transform: uppercase;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div label svg {
    color: white;
    height: 100%;
    margin: auto;
}   


.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div label:hover {
    background:rgba(21, 21, 21,0.7);
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div input:checked + label {
    background: white;
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div input:checked + label svg {
    color:var(--a-background);
}

.explorer-wrapper > .browser.frontpage > #top-tools > .right-side > div.stay-on-top-toggle {
    padding: 0.1rem;
}

.explorer-wrapper > .browser.frontpage > .scroller {
    height: calc(100% - 2.5rem);
    padding-top: 0.5rem;
    width: 100%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0.5rem;
}

.explorer-wrapper > .browser.frontpage > .scroller .file-loading-indication {
    animation: loading-text 1500ms ease-in-out infinite;
    margin: auto;
    text-align: center;
    color: white;
    display: block;
    text-transform: uppercase;
    margin-top: 1rem;
}

@keyframes loading-text {
    0%{opacity: 1;}
    50%{opacity:0.5;}
    100%{opacity: 1;}
}

/* .explorer-wrapper > .browser.frontpage > .scroller */::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    border-radius: 1rem;
    background: var(--a-background);
}

/* .explorer-wrapper > .browser.frontpage > .scroller */::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1rem;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    padding: 0rem 0.5rem 0 0.5rem;
    box-sizing: border-box;
    grid-auto-rows: 7rem;
    height: fit-content;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    display: grid;
}

.explorer-wrapper > .browser.frontpage.compressed > .scroller > .grid {
    grid-template-columns: repeat(auto-fill, minmax(5rem, auto));
    grid-auto-rows: 5rem;
    row-gap: 0.5rem !important;
    column-gap: 0.5rem !important;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element .no-image {
    height: 100%;
    position: relative;
    width: 100%;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element svg {
    height: 100%;
    width: auto;
    transform: translate(-50%);
    position: absolute;
    left: 50%;
}

.explorer-wrapper > .browser.frontpage.compressed > .scroller > .grid > .element span.title{
    display: none;
}

.explorer-wrapper > .browser.frontpage.compressed > .scroller > .grid > .element img.preview-image{
    height: 100%;
    width: auto;
    transition: all 1000ms ease-in-out;
}   

body[preview="c"] .explorer-wrapper > .browser.frontpage.compressed > .scroller > .grid > .element img.preview-image{
    min-width: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: none;
}






.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element {
    height: 100%;
    width: 100%;
    background: rgb(51,51,51);
    border-radius: 0.5rem;
    position: relative;
    transition: transform 200ms cubic-bezier(0.75, 0.09, 0.18, 1.99), 
    box-shadow 200ms cubic-bezier(0.75, 0.09, 0.18, 1.99),
    border 100ms ease-in-out;
    cursor: pointer;
    color: white;
    overflow: hidden;
    animation: fade-in 200ms ease-in-out both 0.5s;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element .element-warning {
    position: absolute;
    left: 50%;
    top: 0.2rem;
    transform: translate(-50%);
    background: #ff6666;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element .element-warning svg {
    display: inline-block;
    float: left;
    height: 1rem;
    font-weight: bold;
    color: white;
    stroke: white;
}


/* .explorer-wrapper > .browser.frontpage > .scroller > .grid > .element.selected::before {
    animation: fade-in 150ms ease-in-out both;
} */

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element.selected {
    border: 2px solid white;
    box-sizing: border-box;
}


/* .explorer-wrapper > .browser.frontpage > .scroller > .grid > .element::before {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    content: ".";
    color: transparent;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: white;
    opacity: 0;
    z-index: 10;
} */

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element:not(.selected)::before {
    animation: fade-out 150ms ease-in-out both;
}

@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fade-out {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element:hover {
    transform: scale(1.03) translate(0,-0.2rem);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}   
.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element img.preview-image{
    width: 100%;
    display: block;
    margin: auto;
    -webkit-user-drag: none;
    transition: opacity 100ms ease-in-out;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element:hover .resolutions {
    display: block;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element.selected .resolutions {
    display: block;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element .resolutions {
    height: fit-content;
    width:fit-content;
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    display: none;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 0.4rem);
    overflow: hidden;
    z-index: 10;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element .resolutions span.res {
    background: white;
    border-radius: 1rem;
    color:var(--a-background);
    text-transform: uppercase;
    padding: 0.1rem 0.3rem;
    display: inline-block;
    margin-right: 0.2rem;
    height: fit-content;
    font-size: 0.8rem;
}


body:not(.small) .explorer-wrapper > .browser.frontpage > .scroller > .grid > .element span.title{
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    transform: translate(-50%);
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    backdrop-filter: blur(5px) brightness(70%);
    transition: all 100ms ease-in-out;
}

body:not(.small) .explorer-wrapper > .browser.frontpage > .scroller > .grid > .element:hover span.title{
    opacity: 0;
}

body:not(.small) .explorer-wrapper > .browser.frontpage:not(.compressed) > .scroller > .grid > .element img.preview-image {
    min-height: 100%;   
}





body .explorer-wrapper > .browser.frontpage.compressed > .scroller > .grid > .element img.preview-image{
    transition: none;
}




body.small .explorer-wrapper > .browser.frontpage:not(.compressed) > .scroller > .grid > .element img.preview-image{
    height: 100%;
    width: auto;
    margin: 0;
    float: left;
    display: inline-block;
    transition: all 700ms ease-in-out;
}

body[preview="c"].small .explorer-wrapper > .browser.frontpage:not(.compressed) > .scroller > .grid > .element img.preview-image{
    max-width: 5rem;
    transform:scale(0.9);
    border-radius: 0.5rem;
}

body.small .explorer-wrapper > .browser.frontpage:not(.compressed) > .scroller > .grid > .element:hover img.preview-image{
    transform: scale(2) translate(-20%);
}


body.small .explorer-wrapper > .browser.frontpage:not(.compressed) > .scroller > .grid {
    grid-auto-rows: 5rem !important;
}

body.small .explorer-wrapper > .browser.frontpage > .scroller > .grid > .element span.title{
    position: initial;
    display: inline-block;
    line-height: 5rem;
    margin-left: 1rem;
    max-width: calc(100% - 6rem);
    overflow-wrap: break-word;
}


#drop-file-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5,0.9);
    z-index: 1000;
    border-radius: 0.5rem;
    pointer-events: none;
    animation: file-drop-modal-pop-in 100ms cubic-bezier(0.56,-0.02, 0.3, 1.71) both;
}

#drop-file-modal:not(.display) {
    display: none;
}

#drop-file-modal.prevent-display {
    display: none !important;
}


#drop-file-modal .middle {
    height: fit-content;
    width: fit-content;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    pointer-events: none;
}

#drop-file-modal .middle svg {
    height: 5rem;
    color: white;
    display: block;
    margin: auto;
}

#drop-file-modal .middle span {
    color: white;
    display: block;
    text-transform: uppercase;
}

@keyframes file-drop-modal-pop-in {
    0%{opacity: 0;transform: translate(-50%,-50%) scale(0.5); top: 50%; left: 50%; border-radius: 50%;}
    100%{opacity: 1;transform: translate(-50%,-50%) scale(1); top: 50%; left: 50%;}
}

#download-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
}

#download-progress .bar {
    width: 0;
    height: 3px;
    background: var(--a-accent);
    transition: all 100ms ease-in-out;
}


.program-information-pane {
    position: absolute;
    height: 30%;
    width: calc(100% - 4rem);
    border-radius: 1rem;
    background:var(--b-background);
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    animation: slide-in-about 200ms ease-in-out both;
    z-index: 10;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
}

.program-information-pane > .title {
    background: white;
    color:var(--b-background);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    width: fit-content;
}

.program-information-pane > .close {
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    transition: all 150ms ease-in-out;
}

.program-information-pane > .close:hover {
    background: white;
}

.program-information-pane > .close:hover svg{
    color:var(--b-background);
}


.program-information-pane > .close svg {
    height: 100%;
    width: 100%;
    color: white;
    transition: all 150ms ease-in-out;
}


.program-information-pane > .tile {
    height: fit-content;
    width: fit-content;
    display: inline-block;
    margin-right: 1rem;
}

.program-information-pane > .tile > .title{
    margin: 0;
    color: white;
}

.program-information-pane > .tile > .body{
    color: white;
    opacity: 0.5;
}




@keyframes slide-in-about {
    0%{transform: translate(-50%,calc(100% + 2rem)); opacity: 0;}
    100%{transform: translate(-50%,0); opacity: 1;}
}


/*Context menu styling*/
ctxmenu#context-menu {
    height: fit-content;
    width: 10rem;
    background:var(--c-background);
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
    overflow: hidden;
}

ctxmenu#context-menu button:disabled {
    opacity: 0.5;
    pointer-events: none;
}


ctxmenu#context-menu .wrapper {
    height: 100%;
    width: 100%;
}

ctxmenu#context-menu .wrapper .emphasis {
    height: 1.5rem;
    width: 100%;
    background: transparent;
    color: white;
    padding: 0.2rem 0.5rem;
    position: relative;
}

ctxmenu#context-menu .wrapper .emphasis .wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
}   


ctxmenu#context-menu .wrapper .emphasis span {
    height: fit-content;
    vertical-align: bottom;
    display: inline-block;

}


ctxmenu#context-menu .wrapper .nominal {
    background:var(--b-background);
    border-radius: 0.5rem;
    height: fit-content;
    width: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

ctxmenu#context-menu .wrapper .nominal > button {
    background: transparent;
    border: none;
    outline: none;

    height: 1.5rem;
    width: 100%;
    color: white;
    
    text-align: left;
    text-transform: capitalize;
    font-size: 1rem;

    cursor: pointer;

    padding: 0 0 0 0.5rem;
    font-family: "proxima";
}

ctxmenu#context-menu .wrapper .nominal > button:hover {
    background:var(--a-background);

}



