html, body {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --a-background: #151515;
    --b-background: #0A0A0A;
    --a-accent: #1FA6FA;
}

#program-wrapper {
    height: 100%;
    width: 100%;
    background: var(--a-background);
    border-radius: 0.5rem;
}

#program-wrapper > .title-bar {
    height: 1rem;
    width: 100%;
    position: relative;
    z-index: 1000;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto calc(3 * 2rem);
    grid-template-rows: 1rem;
}

