html, body {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "proxima";
    user-select: none;
}

@font-face {
    font-family: 'proxima';
    src: url('../Proxima\ Nova\ Font.otf');
}

:root {
    --a-background: #151515;
    --b-background: #0A0A0A;
    --c-background: #1F1F1F;
    --a-accent: #1FA6FA;
    --b-accent: rgb(200,20,20);
    --a-select: #484D6D;
}

.smooth-shadow {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  }

#program-wrapper {
    height: 100%;
    width: 100%;
    background: var(--a-background);
    border-radius: 0.5rem;
}

#program-wrapper > .title-bar {
    height: 1.5rem;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto calc(2 * 2rem);
    grid-template-rows: 1.5rem;
    padding: 0 1rem 0 0;
}

#program-wrapper > .title-bar > .drag-area {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
}


#program-wrapper > .title-bar > .buttons {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
    grid-template-rows: 100%;
}

#program-wrapper > .title-bar > .buttons button {
    border: transparent;
    background: transparent;
    outline: none;
    border-radius: 1rem;
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    display: inline-block;
    color: white;
    line-height: 1rem;
    transition: all 100ms ease-in-out;
}

#program-wrapper > .title-bar > .buttons button:hover {
    background: var(--a-accent);
}

#program-wrapper > .title-bar > .buttons button.close:hover {
    background: var(--b-accent)
}


/*Define the main wrapper*/

.explorer-wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100%; 
    height: calc(100% - 1.5rem);/*Remove the title bar height*/
    width: 100%;
    background: var(--a-background);
}

.explorer-wrapper > .side-bar.frontpage {
    height: 100%;
    width: 100%;
    background: var(--a-background);
    display: grid;
    grid-template-rows: auto 2.5rem 0rem; /*The last is to add gap at bottom of sidebar*/
    row-gap: 0.5rem;
    grid-template-columns: 100%;
}

.explorer-wrapper > .side-bar.frontpage > .options-wrapper, .add-files-button-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.explorer-wrapper > .side-bar.frontpage > .add-files-button-wrapper button {
    height: 80%;
    width: 80%;
    border-radius: 3rem;
    background: var(--a-accent);
    text-transform: capitalize;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    font-family: "proxima";
    font-size: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    outline: none;
}

.explorer-wrapper > .side-bar.frontpage > .add-files-button-wrapper button:hover {
    transform: translate(-50%, calc(-50% - 0.2rem));
}









.explorer-wrapper > .browser.frontpage {
    height: 100%;
    width: 100%;
    background: var(--c-background);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem 0 0 0;
}

.explorer-wrapper > .browser.frontpage > .fp-title {
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0;
    font-weight: lighter;
}

.explorer-wrapper > .browser.frontpage > .scroller {
    height: 100%;
    width: 100%;
    background: transparent;
    overflow-y: scroll;
}

.explorer-wrapper > .browser.frontpage > .scroller::-webkit-scrollbar {
    width: 5px;
    border-radius: 1rem;
    background: var(--a-background);
}

.explorer-wrapper > .browser.frontpage > .scroller::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1rem;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    padding: 0.5rem 0.5rem 0 0.5rem;
    box-sizing: border-box;
    grid-auto-rows: 10rem;
    height: fit-content;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    display: grid;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element{
    height: 100%;
    width: 100%;
    background: var(--a-background);
    border-radius: 0.5rem;
    position: relative;
    transition: transform 200ms cubic-bezier(0.75, 0.09, 0.18, 1.99), box-shadow 200ms cubic-bezier(0.75, 0.09, 0.18, 1.99);
    cursor: pointer;
    color: white;
    overflow: hidden;
}

.explorer-wrapper > .browser.frontpage > .scroller > .grid > .element:hover {
    transform: scale(1.03) translate(0,-0.2rem);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}   