#settings-pane {
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    background: var(--a-background);

    top: 0;
    left: 0;

    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 100%;
    overflow: hidden;

    animation: fade-in 200ms ease-in-out;

    z-index: 999;
}

#settings-pane > .side-bar {
    width: 100%;
    height: 100%;
    background: var(--c-background);
    position: relative;
}

#settings-pane > .side-bar .back {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    border: 0;
    outline: none;
    color: white;
    border-radius: 0.5rem;
    background: var(--a-accent);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#settings-pane > .side-bar .back:hover {
    transform: translate(0,-0.1rem);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}


#settings-pane > .side-bar .back svg {
    transform: scale(0.6);
}


#settings-pane > .side-bar > div.wrapper {
    display: grid;
    height: fit-content;
    width: 100%;
    grid-auto-rows: 4rem;
    grid-template-columns: 100%;
    opacity: 1;
}

#settings-pane > .side-bar > div.wrapper:hover input[name="menu-page"] + label {
    opacity: 1;
}

#settings-pane > .side-bar > div.wrapper input[name="menu-page"] {
    display: none;
}

#settings-pane > .side-bar > div.wrapper > input[name="menu-page"] + label {
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 150ms ease-in-out;
    opacity: 0.5;
}

#settings-pane > .side-bar > div.wrapper > input[name="menu-page"]:checked + label {
    opacity: 1;
}



#settings-pane > .side-bar > div.wrapper > input[name="menu-page"]:checked + label::before {
    position: absolute;
    left: 0.1rem;
    border-radius: 1rem;
    top: 0;
    width: 2px;
    height: 80%;
    top: 50%;
    transform: translate(0,-50%);
    background: white;
    content: ".";
    color: transparent;
    animation: fade-in 150ms ease-in-out;
}


#settings-pane > .side-bar > div.wrapper > input[name="menu-page"] + label svg {
    height: 50%;
    margin-top: 50%;
    transform: translate(0,-50%);
    color: white;
    transition: all 150ms ease-in-out;
}

#settings-pane > .side-bar > div.wrapper > input[name="menu-page"] + label:hover svg {
    transform: translate(0,calc(-50% - 0.2rem));
}

#settings-pane > .content-wrapper {
    overflow: hidden;
}

#settings-pane > .content-wrapper > div.inner {
    animation: settings-intro 200ms ease-in-out;
    padding: 1rem;
    box-sizing: border-box;
}
 

@keyframes settings-intro {
    0%{transform: translate(0,-0.5rem); opacity: 0;}
    100%{transform: translate(0); opacity: 1;}
}


#settings-pane > .content-wrapper > div > .title {
    color: var(--a-background);
    background: white;
    width: fit-content;
    display: block;
    padding: .2rem 1rem;
    border-radius: 2rem;
    margin: 0;
    text-transform: capitalize;

}









/*Keybind page*/
#settings-pane > .content-wrapper.keybinds > div > .keybinds {
    height: fit-content;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .name {
    width: 30%;
    display: inline-block;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .description {
    display: none;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .connector {
    width: 20%;
    background: white;
    height: 1px;
    border-radius: 1rem;
    display: inline-block;
    margin: 0 1rem;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .keys {
    background: white;
    color: var(--a-background);
    border-radius: 1rem;
    padding: 0.15rem 0.8rem;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .keys:hover::after {
    content: "Edit";
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 1rem),-50%);
    animation: fade-in 150ms ease-in-out;
}   

#settings-pane > .content-wrapper.keybinds > div > .keybinds .keybind > .keys.flash {
    animation: ease-in-out 1000ms flashing infinite;
}

@keyframes flashing {
    0%{opacity:1}
    50%{opacity:0.5}
    100%{opacity:1}
}












#settings-pane > .content-wrapper.importing > div > .profiles {
    padding: 0 1rem;
}   

#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper {
    height: 4rem;
    width: fit-content;
    max-width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
}   


#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper div.profile {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-block;
    margin-right: 0.5rem;
}   

#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper div.profile:last-of-type {
    margin-right: 1rem;
}


#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper div.profile img {
    height: 100%;
    width: auto;
}   



#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper button.create-profile {
    height: 3rem;
    width: 3rem;
    background: var(--c-background);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.75, 0.09, 0.18, 1.99);
}  

#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper button.create-profile svg {
    height: 100%;
    width: auto;
    color: white;
}

#settings-pane > .content-wrapper.importing > div > .profiles > div.wrapper button.create-profile:hover {
    transform: scale(1.05);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}





